.intro {
  position: relative;
  padding-top: 50px;
  height: 75vh;
  font-family: 'Orbitron', sans-serif;
}

.canvasContainer {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 100%;
}

#introCanvas {
  // image-rendering: pixelated;
}