.page {
  height: 100vh;
  width: 100%;
  z-index: 1;
  opacity: 95%;
  background-color: black;
  color: white;
  // margin-left: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page::-webkit-scrollbar {
  display: none;
}

.titleBar {
  position: absolute;
  background-color: black;
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-family: 'Orbitron', sans-serif;
  opacity: 99%;
  z-index: 2;
}

.leftTitleBar {
  width: 30%;
  font-size: 2em;
}

.rightTitleBar {
  width: 70%;
  font-size: 1.5em;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link {
  color: green
}

.link:hover {
  color: #00FF41;
}

.link:visited {
  color: #00FF41;
}

.about {
  position: relative;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #0D0208;
  // top: 100px;
  padding-top: 50px;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
}

.aboutTitle {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.aboutMe {
  text-align: center;
  margin: 5%;
  font-weight: 600;
}

.techStacks {
  display: flex;
  justify-content: space-around;
  // margin-left: 10%;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

.stackList {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 33%;
  // max-width: 80%;
  padding: 10%;
  font-weight: 600;
}

ul {
  width: 100%;
}

.feature {
  text-align: left;
  margin-bottom: 2%;
  width: 80%;
}

.span {
  font-size: 1.5em;
}

li {
  padding: 15%;
  width: 100%;
}

.projects {
  padding-top: 50px;
  // height: 100%;
  background-color: #0D0208;
  // border: 1px solid black;
  // border-top: 25px solid black;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
  font-weight: 600;
}

.contact {
  position: relative;
  // top: 50px;
  width: 95%;
  padding: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #0D0208;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.email {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: center;
}