.galleryContainer {
  height: 250px;
  width: 100%;
}

.gallery {
  background-color: black;
  height: 100%;
  width: 100%;
}

.imageContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.leftArrow {
  justify-content: start;
}

.rightArrow {
  justify-content: end;
}

.arrow {
  display: flex;
  height: 100%;
  width: 100%;
  // justify-content: center;
  margin: 5px;
  align-items: center;
  font-size: 300%;
  cursor: pointer;
  transition: 250ms;
  // border: 5px solid white;
}

.arrow:hover {
  font-size: 350%;
  transition: 250ms;
}

img {
  cursor: pointer;
  border: 1px solid white;
}

.captions {
  width: 100%;
  // margin-left: 2.5%;
  // margin-right: 2.5%;
  background-color: black;
  text-align: center;
}

.imageModal {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.isBlurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}